@import url(http://fonts.googleapis.com/css?family=Rubik:300,400,700,900,800,500,300,600);

body {
	margin: 0px;
	padding: 0px;
	background-color: 000;
}

h1, h2, h3, p, li, a {
	font-family: 'Rubik', sans-serif;
	color: white;
	text-decoration: none;
}

li > a:hover {
    opacity: 0.7 !important;
    color: grey !important;
}

.container {
	background-image: url(../img/eclipse_zoom.jpg);
	background-position: center; 
  	background-repeat: no-repeat;
  	background-size: cover; 
	background-color: black;
	display: flex;
	justify-content: flex-end;
	vertical-align: middle;
	flex-direction: column;
	height: 100%;
}

.content {
	align-self: center;
	max-width: 300px;
	display: flex;
	flex-direction: column;
}

.title {
	align-self: center;
}

.description {
	text-align: justify;
}

.links {
	padding: 5% 0 5% 0;
	width: 300px;
	margin: 0;
	align-self: center;
}

.contact-links {
	padding-left: 0;
}

.footer {
	width: 100%;
	align-self: flex-end;
}

.footer-info {
	padding: 0 50px 0 50px;
}

ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

li, .list-item {
	float: left;
	padding: 10px 0 10px 0;
}

.tooltip {
	.tooltip-visible{
		display: inline;
	}	
	.tooltip-text{
		display: none;
		z-index: 1;
	}
}

.tooltip:hover {
	.tooltip-visible {
		display: none;
	}
 	.tooltip-text {
		display: inline;
	}
}

